#loading
{
  margin-left:388px !important;
}
.tablesorter
{
  border: 1px solid #ddd;
}
#deal_data:nth-child(2n)
{
 background:rgba(236,246,248,0.99) !important;
}
.table_head tr th:nth-child(5)
 {
    width: 86px !important;
  }
  #deal_data:hover
  {
      background:rgb(214,242,242) !important;
  }
 .package_img
 {	
    padding:13px;
  }
  .package_img img 
  {
    width: 40px;
    height: 40px;
    border-radius: 40px;
   }
    .pack_details
   {
     /*padding: 14px;*/
    padding-left: 0px;
   }
   .pack_details span
   {
      padding-bottom: 5px;
    /*padding-top: 5px;*/
    font-weight: 600;
    display: inline-block;
   }
   .pack_details p
   {
     
     color: #4a9aa5;
     font-size: 17px;
     font-weight: 600;
     vertical-align: middle;
     text-align: left;
     padding-top: 8px;
    
   }
   .cust_pack
   {
     border: 0px;
    margin-top: 0px;
    /* border-bottom: 1px solid #ddd; */
   }
   .cust_pack:hover
   {
     background:rgb(214,242,242) !important;	
   }
  /* .pack_cont 
   {
    
    margin-top: 4px;
   }*/
   .bv_cont 
   {
     
    border-left: 2px solid #ddd;
    height: 64px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 282px;
    padding-left: 94px;
    padding-right: 94px;
   }
   .bv_cont a 
   {
    display: inline-block;
    width: 92px;
    height: 30px;
    background: red;
    line-height: 30px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 600;
   /* margin-top: 7px;
    margin: 3px auto;*/
    cursor: pointer;
 }
.two-cont
{
 height:70px;
}

