html
{
  padding:0px !important;
}
li
{
 margin-bottom: 0px !important;
}
 #pkg_profile_loader
{
 margin-left: 38%;
 width: 11%;
 margin-top: 6%;
}
#pkg_profile_details:nth-child(2n) 
{
    background: rgba(236,246,248,0.99) !important;
}
.pkg_profile_lab_page:hover
 {
    background:rgb(234, 73, 79);
    color: white !important; 
 }
 .pkg_profile_lab_page
 {
   text-decoration: none !important; 
 }
 #pkg_cloud_tests
 {
     padding-top: 35px;
     text-align: justify;
 }
 .pkg_pop_test:hover
 {
   background:yellow; 
 }
 .pkg_pop_test
 {
   text-decoration: underline; 
 }
 #tmm-form-wizard .button span 
{
    border-top: 1px solid #C74242 !important;
    border-bottom: 1px solid #C03535 !important;
    border-left: 1px solid #EC4949 !important;
    border-right: 1px solid #C24040 !important;
    display: inline-block;
 }
 #tmm-form-wizard .prev .button-divider 
 {
    position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
 }
  #tmm-form-wizard .next .button-divider
  {
     position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
  }
   
   .form-wizard
   {
     background: white !important;   
   }
   #tmm-form-wizard .button
   {
    background-image: linear-gradient(to bottom, #EC4949 25%, #C04040 100%) !important;   
   }
#pkg_pfl_cnt_test_left_name
{
  border-right:1px solid #ddd !important;
}
#pkg_pfl_cnt_test_right_name
{
  border-left:1px solid #ddd !important;
}
#pkg_pfl_cnt_test_name
{
  border:1px solid #ddd !important;
}
#pkg_pfl_cnt_test_name:nth-child(2n)
{
  background: rgba(236,246,248,0.99) !important;
}
.pkg_pfl_preview_info:nth-child(2n)
{
  background: rgba(236,246,248,0.99) !important;
}
.pkg_pfl_order_class:nth-child(2n)
{
  background:rgba(236,246,248,0.99) !important;
 }
  .pkg_pfl_order_class
 {
  border:1px solid #ddd !important;
}
.pkg_pfl_success_det
{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.pkg_pfl_cnt_data:nth-child(2n)
{
  background:rgba(236,246,248,0.99) !important;
}
#tmm-form-wizard .dropdown-select
 {
    color: #b5b5b5 !important;
}
#tmm-form-wizard .dropdown-select
 {
    position: relative !important;
    width: 100% !important;
    margin: 0 !important;
    padding-left: 6px !important;
    font-size: 14px !important;
    font-family: 'calibriregular', sans-serif !important;
    color: #b5b5b5 !important;
    background: #fff !important;
    text-indent: 0.01px !important;
    outline: none !important;
    height: 34px !important;
    font-style: normal !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 2px;
    border-radius: 2px !important;
}
#pkg_pfl_gender
{
-webkit-appearance: none !important;
}
.form-wizard
{
 padding:0px !important;
}
#tmm-form-wizard.substrate .input-block label 
{
	font-size: 12px !important;
}
#pkg_pfl_gender> option:first-child
{
    display: none;
}